:root {
  background-color: #242424;
  background: url('../img/bg.webp') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
html, body {
  padding: 0;
}
