html, body {
	margin: 0;
	padding: 0;
}
body {
	background: black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header {
	display: flex;
	position: fixed;
	top: 3rem;
	right: 0;
	height: calc(3rem + 4vh);
	width: 40vw;
	border-radius: 1rem 0 0 1rem;
	max-width: 220px;
	box-shadow: 0 0 72px 24px rgba(252,252,252,0.3) inset;
	width: 100%;
	backdrop-filter: blur(0.6rem) sepia(0.3);
	background: rgba(20,20,20,0.7);

	h1 {
		text-align: center;
		line-height: calc(3rem + 4vh);
		margin: 0;
		letter-spacing: 1.2px;
		font-weight: 400;
		font-size: 1rem;
		color: rgb(222,222,222);
	}

	svg {	
		height: calc(2.4rem + 4vh);
	}

}

iframe {
	height: 100vh;
	width: 100vw;
	display: block;
}
