html, body {
	margin: 0;
	padding: 0;
}
body {
	background: rgb(24,24,24);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
h1, h2, h3, code, a {
	font-weight: 300;
	margin: 0;
}
main {
	display: grid;
	justify-content: center;
	align-items: center;
	overflow: auto;
}
header {
	opacity: 0.3;
}
header > h1 {
	letter-spacing: 0.3vw;
	text-align: center;
	line-height: 3rem;
}
iframe {
	height: calc(100vh - 6rem);
	margin: 0 auto;
	border-radius: 2.4rem 0.9rem;
	width: calc(98vw - 2rem);
	display: block;
}
footer {
	position: fixed;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}
footer > h3 {
	min-width: 100px;
	width: 33vw;
	max-width: 444px;
	line-height: 3rem;	
	background: rgba(252,252,252,0);
	color: rgba(2,22,252,0);
	text-align: center;
	letter-spacing: 3px;
	transition: 0.2s letter-spacing, 0.2s color;
}
footer > h3:hover {
	letter-spacing: 0px;
	font-weight: 600;
	cursor: pointer;
	color: rgba(222,252,252,0.8);
}
