html, body {
	margin: 0;
	padding: 0;
}
body {
	background: black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;

	h1, code {
		line-height: 3.2rem;
		margin: 0;
		font-size: 1rem;
		background: rgb(30,31,33);
	}
	h1 {
		color: white;
	}
	code {
		color: white;
		line-height: 3rem;
	}
	svg {
		display: block;
		height: 3rem;
		background: rgb(30,31,33);
	}
}

iframe {
	height: 100vh;
	width: 100vw;
	display: block;
}