html, body {
	margin: 0;
	padding: 0;
}
body {
	background: rgb(24,24,24);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
h1, h2, h3, code, a {
	font-weight: 300;
	margin: 0;
}
main {
	display: grid;
	justify-content: center;
	align-items: center;
	overflow: auto;
}
header {
	opacity: 0.3;
}
header > h1 {
	letter-spacing: 0.3vw;
	text-align: center;
	line-height: 3rem;
}
iframe {
	height: calc(100vh - 6rem);
	width: calc(100vw - 6rem);
	display: block;
	margin: 0 auto;
}

