html, body {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: default;
}

body {
	max-width: 900px;
	background: rgb(20,20,20);
	background: url('../bg.webp') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0;
	line-height: 1.8rem;
	color: rgba(180,180,180,0.3);
	letter-spacing: 0.1vw;
	font-weight: 100;
	font-size: 1.2rem;
	text-align: center;
	padding: 0 2.4vw;
	&:hover {
		color: rgba(229,228,255,0.4);
	}
}

main {
	display: grid;
	align-items: center;
	
	a {
		display: block;
		text-align: center;
		font-size: calc(1.8rem + 1vw);
		line-height: calc(100vh / 6 - (1.8rem  / 6));
		transition: 0.12s all ease-out;
		text-decoration: none;
		color: rgb(90,99,99);

		&:visited {
			color: rgb(128,128,128);
		}

		&:hover, &:active, &:focus {
			backdrop-filter: blur(7px);
			background: rgba(20,20,20,0.6);
			color: white;
		}
	}
}
